.container {
   padding: 0 1rem 0 1rem;
}

.section {
    display: flex;
    flex-direction: column;
}

.footer_container {
    padding: 1.5rem 1rem 0 1rem;
}

@media only screen and (max-width: 990px) {
.container {
    padding: 0 0.7rem 0 0.7rem;
}
}