.container {
      /* display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 2rem;
      /* padding: 1rem; */
      /* padding-top: 0.5rem; */
      background-color: white;
      
    }

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.div1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-partner {
  margin-left: 1rem;
}

.div3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
}
