@import url("antd/dist/antd.css");

.hidden {
  display: none;
}

.step1_form {
  font-family: 'Nova Flat', 'roboto', monospace;
}

.ant-form-item-label label {
  font-size: large;
}

.steps-content {
    min-height: 200px;
    margin-top: 16px;
    padding: 30px 0px 30px 0;
    text-align: center;
    background-color: #fafafa;
    border: 1px dashed #e9e9e9;
    border-radius: 2px;
}

.my_step_form_body {
    padding: 1.9rem;
    background-color: bisque;
}

.ant-page-header-ghost {
    background-color: bisque;
}

@media only screen and (max-width: 990px) {
    body {
        background-color: bisque;
    }

    .ant-form-item-label > label {
        display: inline;
    }
}
