@import "antd/dist/antd.css";

body {
  margin: 0;
  box-sizing: border-box;
  /* background-color: #fbf2ea; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'DIN Pro';
  src: url('./Fonts/DINPro.ttf') format('ttf'),
       url('./Fonts/DINPro.woff') format('woff'),
       url('./Fonts/DINPro.woff2') format('woff2');
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('./Fonts/BebasNeue.ttf') format('ttf'),
       url('./Fonts/BebasNeue.woff') format('woff'),
       url('./Fonts/BebasNeue.woff2') format('woff2');
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DIN Pro';
}

p {
  font-family: 'Bebas Neue';
}

.ant-btn-primary {
  background-color: #ee7023;
  border-color: #ee7023;
}

.ant-btn-primary:hover {
  background-color: #ee7023;
  border-color: #ee7023;
}

.ant-btn-primary:active {
  background-color: #ee7023;
  border-color: #ee7023;
}

.ant-btn-primary::after {
  background-color: #ee7023;
  border-color: #ee7023;
}

.ant-btn-primary:focus {
  background-color: #ee7023;
  border-color: #ee7023;
}

.ant-modal-title {
  color: #f35b1c;
  font-family: 'DIN Pro';
  font-size: 20px;
}

.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
  background: #ee7023;
  border-color: #ee7023;
}